<div class="m-5 container">
  <div class="card">
    <div class="card-header">
      <h3>Maestros

      </h3>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>Usuario</th>
              <th>No. Empleado</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let maestro of maestros"  class="text-center">
              <td>{{maestro.id}}</td>
              <td>{{maestro.usuario}}</td>
              <td>{{maestro.num_empleado}}</td>
              <td>{{maestro.nombre}}</td>
              <td>{{maestro.tipo}}</td>
              <td>{{maestro.estatus}}</td>
              <td><button class="btn btn-primary mx-4">Editar</button>
              <button (click)="Delete(maestro)" class="btn btn-danger">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
