<div class="m-5 container">
  <div class="card">
    <div class="card-header">
      <h3>Registrar Alumno

      </h3>
      <div class="card-body">
        <form [formGroup]="alumnoForm" action="">
          <div class="form-group">
            <label for="">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Matricula</label>
            <input formControlName="matricula" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Usuario</label>
            <input formControlName="usuario" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input formControlName="password" type="text" class="form-control">
          </div>
          <button (click)="Guardar()" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
